body{
  margin: 0;
  padding: 0;
}
#msg{
  padding: 1% 1% 0% 1%;
  color: red;
}
form{
  padding: 1% 1% 1% 1%;
}
input,label{
  margin-bottom: 1%;
}
input[type='checkbox']{
  margin: 0%;
  margin-right: 1%;
  margin-bottom: 1%;
}
input[type='submit']{
  padding:0.5% 1% 0.5% 1%;
  background-color: rgb(255, 255, 255);
}